.planck{
    /*border: 2px solid #000000;*/
    position:relative;
    /*width: auto;*/
    display:inline-block;
    color:#ecf0f1;
    text-decoration:none;
    border: 1px solid #536267;
    background: #7c8389;
    background: -webkit-gradient(linear, left top, left bottom, from(#7c8389), to(#585c61));
    background: -webkit-linear-gradient(top, #7c8389, #585c61);
    background: -moz-linear-gradient(top, #7c8389, #585c61);
    background: -ms-linear-gradient(top, #7c8389, #585c61);
    background: -o-linear-gradient(top, #7c8389, #585c61);
    background-image: -ms-linear-gradient(top, #7c8389 0%, #585c61 100%);
    text-align:center;
    /*padding:16px 18px 14px;*/
    border-radius: 25px;
    margin: 12px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    height: 65px;
    width: 80%;
    -webkit-box-shadow: 0px 3px 0px #4c4f54;
    -moz-box-shadow: 0px 3px 0px #4c4f54;
    box-shadow: 0px 3px 0px #4c4f54;
    text-shadow: #6f7273 0 1px 0;
    /*color: #000000;*/
    font-size: large;
    font-family: armalite, serif;
    /*text-decoration: none;*/
    vertical-align: middle;
    /*text-align: center;*/
}