div.div__menu-wrapper
    h2 MENU
        ul
            each i in attrs
                li.li__menu
                    div.div__menu-btn-wrapper
                        div.planck
                            div.lamp-box
                                div.red-lamp
                            div.button
                                a(href=i.href) #{i.title}
