.div__menu-wrapper {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-right: 35%;
}

.div__menu-btn-wrapper:hover .red-lamp {
    transition: 0.25s linear;
    background-color: #F00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
}