
div.div__menu-wrapper
    div.left-top
        div.screw
            div.screw_bottom
    div.right-top
        div.screw
            div.screw_bottom
    div.right-bot
        div.screw
            div.screw_bottom
    div.left-bot
        div.screw
            div.screw_bottom
    h2 MENU
    each i in attrs
        div.planck
            div.screw.left
                div.screw_bottom
            div.button
                a(href=i.href).menu-button #{i.title}
            div.lamp-box
                div.red-lamp.lamp-position
            div.screw.right
                div.screw_bottom
    div.logout
