div.menu.fadeIn-Out.hidden
    button.menu__button.btn-in Singleplayer
    button.menu__button.btn-in Multiplayer
    button.menu__button.btn-in#settingsBtn My Profile
    button.menu__button.btn-in#leaderboard Leaderboard
    button.menu__button.btn-up#logout Logout