/*.input {*/
    /*border: solid;*/
    /*font-size: large;*/
    /*width: 100%;*/
    /*margin-bottom: 1%;*/
/*}*/

.input {
    padding: 5px;
    font-size: 18px;
    background-color: #ffffff;
    color: #000000;
    border: 7px groove #CCCCCC;
    border-radius: 0;
    box-shadow: 3px -3px 8px rgba(55,55,55,.80);
    /*text-shadow: 0px 0px 17px rgba(55,55,55,.80);*/
    margin-top: 1%;
    margin-bottom: 1%;
    width: 94.2%;
}
.input:focus {
    outline:none;
}