
/*Бэкграунд*/
.body {
    background: #818181; /* Old Browsers */
    background: -webkit-radial-gradient(top,#818181,#3d3d3d); /*Safari 5.1-6*/
    background: -o-radial-gradient(top,#818181,#3d3d3d); /*Opera 11.1-12*/
    background: -moz-radial-gradient(top,#818181,#3d3d3d); /*Fx 3.6-15*/
    background: radial-gradient(to bottom, #818181, #3d3d3d); /*Standard*/
    background-repeat: no-repeat;
    /*overflow-x: hidden;*/
    /*min-width: 100%;*/
    height: 100%;
    /*position: relative;*/
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/*болт*/
  .screw {

      top: 10px;
      left: 49%;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      background: #adadad; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #adadad 0%, #e1e1e1 51%, #dddddd 68%, #f6f6f6 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#adadad), color-stop(51%,#e1e1e1), color-stop(68%,#dddddd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, #adadad 0%,#e1e1e1 51%,#dddddd 68%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg, #adadad 0%,#e1e1e1 51%,#dddddd 68%,#f6f6f6 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, #adadad 0%,#e1e1e1 51%,#dddddd 68%,#f6f6f6 100%); /* IE10+ */
      background: linear-gradient(135deg, #adadad 0%,#e1e1e1 51%,#dddddd 68%,#f6f6f6 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      -moz-box-shadow: 0px 2px 4px #000;
      -webkit-box-shadow: 0px 2px 4px #000;
      box-shadow: 0px 2px 4px #000, -1px -1px 5px rgba(0,0,0,0.2);
      border: 1px solid rgba(255,255,255,0.1);

  }
/*тоже болт(тень)*/
.indent {

    height: 10px;
    width: 33px;
    margin-top: 10px;
    background-image: url('img/nail-head.jpg');
    -moz-box-shadow: inset 0px 1px 8px #222;
    -webkit-box-shadow: inset 0px 1px 8px #222;
    box-shadow: inset 0px 1px 8px #222;
    transform:rotate(150deg);
    -ms-transform:rotate(150deg);
    -webkit-transform:rotate(150deg);
    border-radius: 2px;
    margin-left:-2px;
    border-bottom:1px solid rgba(255,255,255,0.3);

}
/*канва под радар*/
   .radar-canvas{
       border-width: 5px;
       border-color: #444;
       border-style: groove;
       width: 70%;
       height: 90%;
   }

/*подложка под меню*/
  .menu{
      border-width: 5px;
      border-color: #444;
      border-style: groove;
      width: 20%;
      height: 90%;
  }
/*хз зачем(как подложка под меню и радар может)*/
.top-part{
    border-width: 5px;
    border-color: #444;
    border-style: groove;
    display: inline-block;

}


/*Ультимативная металлическая кнопка*/
  .button {
      border: 2px solid #000000;
      background: #454b4f;
      background: -webkit-gradient(linear, left top, left bottom, from(#acbac4), to(#454b4f));
      background: -webkit-linear-gradient(top, #acbac4, #454b4f);
      background: -moz-linear-gradient(top, #acbac4, #454b4f);
      background: -ms-linear-gradient(top, #acbac4, #454b4f);
      background: -o-linear-gradient(top, #acbac4, #454b4f);
      background-image: -ms-linear-gradient(top, #acbac4 0%, #454b4f 100%);
      padding: 16px 32px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
      -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
      box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
      text-shadow: #6f7273 0 1px 0;
      color: #000000;
      font-size: 20px;
      font-family: helvetica, serif;
      text-decoration: none;
      vertical-align: middle;
      text-align: center;
      width: 100%;
  }
/*Ультимативная металлическая кнопка*/
  .button:hover {
      border: 2px solid #000000;
      text-shadow: #686d70 0 1px 0;
      background: #595f63;
      background: -webkit-gradient(linear, left top, left bottom, from(#a4a9ad), to(#595f63));
      background: -webkit-linear-gradient(top, #a4a9ad, #595f63);
      background: -moz-linear-gradient(top, #a4a9ad, #595f63);
      background: -ms-linear-gradient(top, #a4a9ad, #595f63);
      background: -o-linear-gradient(top, #a4a9ad, #595f63);
      background-image: -ms-linear-gradient(top, #a4a9ad 0%, #595f63 100%);
      color: #121212;
  }
/*Ультимативная металлическая кнопка*/
  .button:active {
      text-shadow: #6c7175 0 1px 0;
      border: 2px solid #000000;
      background: #2e2a2e;
      background: -webkit-gradient(linear, left top, left bottom, from(#b7bac2), to(#595f63));
      background: -webkit-linear-gradient(top, #b7bac2, #2e2a2e);
      background: -moz-linear-gradient(top, #b7bac2, #2e2a2e);
      background: -ms-linear-gradient(top, #b7bac2, #2e2a2e);
      background: -o-linear-gradient(top, #b7bac2, #2e2a2e);
      background-image: -ms-linear-gradient(top, #b7bac2 0%, #2e2a2e 100%);
      color: #000000;
  }


/**
 * CSS Buttons Generator for your pleasure!
 * http://www.dextronet.com/css-buttons-generator
 *
 * (c) Ondrej Zabojnik <zabojnik@dextronet.com>, released under the MIT license
 *
 * Usage:
 *   <a href="" class="shiny-button"><strong>Singleplayer</strong></a>
 *
 */
/*Ультимативная металлическая кнопка(запаска)*/
/*
.shiny-button {
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.1;
    font-weight: normal;
    font-family: sans-serif;
    color: #FFFCF2;
    font-size: 12px;
    background-color: #7A7D82;
    background-image: -webkit-linear-gradient(top, #7d8085 0%, #929292 48%, #7A7D82 49%, #7A7D82 82%, #888b90 100%);
    background-image: -moz-linear-gradient(top, #7d8085 0%, #929292 48%, #7A7D82 49%, #7A7D82 82%, #888b90 100%);
    background-image: -o-linear-gradient(top, #7d8085 0%, #929292 48%, #7A7D82 49%, #7A7D82 82%, #888b90 100%);
    background-image: linear-gradient(top, #7d8085 0%, #929292 48%, #7A7D82 49%, #7A7D82 82%, #888b90 100%);
    border-color: hsl(0, 0%, 49%);
    -webkit-box-shadow: inset 0 0 1px 1px #94979b, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 1px 1px #94979b, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 1px 1px #94979b, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-text-shadow: 1px 1px 1px #494a4d;
    -moz-text-shadow: 1px 1px 1px #494a4d;
    -o-text-shadow: 1px 1px 1px #494a4d;
    text-shadow: 1px 1px 1px #494a4d;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 12px 30px 12px 30px;
}

.shiny-button strong {
    letter-spacing: 1px;
    font-size: 15px;
}

.shiny-button:hover {
    color: #FFFCF2;
    background-color: #828589;
    background-image: -webkit-linear-gradient(top, #85888b 0%, #9a9a9a 48%, #828589 49%, #828589 82%, #909397 100%);
    background-image: -moz-linear-gradient(top, #85888b 0%, #9a9a9a 48%, #828589 49%, #828589 82%, #909397 100%);
    background-image: -o-linear-gradient(top, #85888b 0%, #9a9a9a 48%, #828589 49%, #828589 82%, #909397 100%);
    background-image: linear-gradient(top, #85888b 0%, #9a9a9a 48%, #828589 49%, #828589 82%, #909397 100%);
    border-color: hsl(0, 0%, 52%);
    -webkit-box-shadow: inset 0 0 1px 1px #9c9fa2, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 1px 1px #9c9fa2, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 1px 1px #9c9fa2, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-text-shadow: 1px 1px 1px #505255;
    -moz-text-shadow: 1px 1px 1px #505255;
    -o-text-shadow: 1px 1px 1px #505255;
    text-shadow: 1px 1px 1px #505255;
}

.shiny-button:active {
    color: #FFFCF2;
    background-color: #73757a;
    background-image: -webkit-linear-gradient(top, #6e7075 0%, #7A7D82 100%);
    background-image: -moz-linear-gradient(top, #6e7075 0%, #7A7D82 100%);
    background-image: -o-linear-gradient(top, #6e7075 0%, #7A7D82 100%);
    background-image: linear-gradient(top, #6e7075 0%, #7A7D82 100%);
    padding: 13px 30px 11px 30px;
}*/


/*лампочка красная(ну почти)*/
.lamp-red {
    background: #E53030;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    display: inline-block;
    height: 5vw;
    width: 5vw;
}
.lamp-red:hover {
    background: #E53030;
    box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}