@import "reset.css";
@import "a_button.css";
@import "../js/components/blocks/input.css";
@import "../js/components/views/ratingView/rating.css";
@import "../js/components/views/profileView/profile.css";
@import "../js/components/forms/loadPictureForm/loadPictureForm.css";
@import "../js/components/views/menuView/menu.css";
/*@import "../js/components/radar/radar.css";*/


#radar-wrapper {
    width: 60%;
    background-color: #111111;
    margin: 0;
    position: absolute;
    height: 100%;
    display: inline-block;
    clear: both;
    float: left;
}

#application-wrapper {
    width: 40%;
    margin: 0;
    position: relative;
    display: inline-block;
    clear: both;
    float: right;
    height: 900px;
    padding: 0;

}

#application {
    width: 70%;
    margin-top: 40%;
    margin-left: 10%;
}


a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: block;
}



/*@font-face {*/
    /*font-family: "armalite";*/
    /*src: local('armalite');*/
    /*url("../fonts/armalite.ttf") format('truetype');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/


li {
    margin: 1%;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    color: white;
    font-size: 300%;
    margin: 2%;
}

.form-wrapper {
    text-align: center;
}

