@import "reset.css";
@import "../js/components/blocks/input.css";
@import "../js/components/blocks/button.css";
@import "../js/components/blocks/lamp.css";
@import "../js/components/blocks/screw.css";
@import "../js/components/views/ratingView/rating.css";
@import "../js/components/views/profileView/profile.css";
@import "../js/components/forms/loadPictureForm/loadPictureForm.css";
@import "../js/components/views/menuView/menu.css";
@import "../js/components/views/ViewsBack.css";
@import "../js/components/radar/radar.css";
@import "../js/components/views/gameView/gameView.css";

.input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; font-family: armalite, serif;}
.input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;     font-family: armalite, serif;}
.input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;    font-family: armalite, serif;}
.input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;    font-family: armalite, serif;}
.input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;    font-family: armalite, serif;}
.input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;    font-family: armalite, serif;}
.input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;    font-family: armalite, serif;}
.input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;    font-family: armalite, serif;}

body{
    overflow: hidden;
}

#radar-wrapper {
    width: 60%;
    background-color: #111111;
    margin: 0;
    position: absolute;
    height: 100%;
    display: inline-block;
    clear: both;
    float: left;
}

#application-wrapper {
    width: 40%;
    margin: 0;
    position: relative;
    display: inline-block;
    clear: both;
    float: right;
    height: 900px;
    padding: 0;

}

#application {
    width: 95%;
    margin-top: 25%;
    margin-left: 3%;
}

/*.button {*/
    /*height: 100px;*/
    /*width: 100px;*/
    /*border: seagreen;*/
    /*background: #c91919;*/
/*}*/

.button a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    height: 100%;
}



@font-face {
    font-family: armalite;
    src: local(armalite),
    url(/fonts/armalite.ttf);

}


li {
    margin: 1%;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    font-family: armalite, serif;
    color: white;
    font-size: 300%;
    margin: 2%;
}

.form-wrapper {
    text-align: center;
}

canvas {
    border: solid;
}

