div.div__help#help
    div.div__help-text
        p.help-p Welcome to WARGAME!
        p.help-p These are the basics controlls:
        p.help-p 1. Left mouse click on your hex (it is green) to check it
        p.help-p 2. Watch status bar (on the right)
        p.help-p 3. Left mouse click on the enemy (grey hex) to atac
        p.help-p 4. If you click your second (green) hex you'll move your units
        p.help-p 5. Left click the selected hex (marked red) to uncheck it
        p.help-p 6. Left click the RED triangle to end your turn
        p.help-p 7. That's it. Show those bastards where raki zimuyut!!!
    div.div__close#closeHelp
        div.text-close CLOSE
