.div__help {
    position: absolute;
    top: 10%;
    z-index: 10;
    background-color: gray;
    width: 100%;
    height: 37vw;
    border: solid;
}

.div__help-text {
    text-align: left;
    font-size: 3.2vh;
    overflow: hidden;
    width: 100%;
    max-height: 90%;
    float: left;
    margin: 3% 0 0 21%;
}

.div__help-text p {
    line-height: 1.5;
}

.div__close {
    text-align: center;
    font-size: 5.5vh;
    width: 100%;
    padding-top: 32%;
}

.div__close span {
    border: groove darkgray;
    border-radius: 8%;
    padding: 1%;
}

.div__close:hover {
    font-style: revert;
}

