div.div__help#help
    div.div__help-text
        p Welcome to WARGAME!
        p These are the basics controlls:
        p 1. Left mouse click on your hex (it is green) to check it
        p 2. Watch status bar (on the left)
        p 3. Left mouse click on the enemy (grey hex) to atac
        p 4. If you click your second (green) hex you'll move your units
        p 5. Left click the selected hex (marked red) to uncheck it
        p 6. Left click the RED triangle to end your turn
        p 7. That's it. Show those bastards where raki zimuyut!!!
    div.div__close#closeHelp ►