.div__help {
    position: absolute;
    top: 10%;
    z-index: 10;
    background: #818181; /* Old Browsers */
    background: -webkit-radial-gradient(top,#818181,#3d3d3d); /*Safari 5.1-6*/
    background: -o-radial-gradient(top,#818181,#3d3d3d); /*Opera 11.1-12*/
    background: -moz-radial-gradient(top,#818181,#3d3d3d); /*Fx 3.6-15*/
    background: radial-gradient(to bottom, #818181, #3d3d3d); /*Standard*/
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
    border: solid;
}

.div__help-text {
    text-align: left;
    font-size: 3.2vh;
    overflow: hidden;
    width: 100%;
    max-height: 90%;
    margin: 3% 0 0 21%;
}

.div__help-text p {
    line-height: 1.5;
}

.div__close {
    text-align: center;
    font-size: 5.5vh;
    width: 100%;
    padding-top: 10px;
}

.div__close span {
    border: groove darkgray;
    border-radius: 8%;
    padding: 1%;
}

.div__close:hover {
    font-style: revert;
}

@media (max-width: 801px) {
    .div__help-text {
        margin-left: 5%;
    }
}
