div.modalDialog#openModal
    div.mainModPart#mainModPart
        ul.tab-group
            li.tab.active
                a(href='/login').button Sign in
            li.tab.active
                a(href='/register').button Sign up


