/*#change-canvas {*/
    /*margin-bottom: 20%;*/
/*}*/
/*#game-canvas {*/
    /*margin-bottom: 20%;*/
/*}*/

.change {
    z-index: 1000;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 86.6px;
    border-color: transparent transparent transparent red;
    line-height: 0;
    /*_border-color: #000000 #000000 #000000 #007bff;*/
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    float: right;
}
.change:hover{
    border-color: transparent transparent transparent orange;
}

.info-menu {
    position: relative;
    height: 85%;
    width: 15%;
    background-color: #7d8289;
    display: inline-block;
    float: left;
    opacity: 0.7;
}

.chat {
    height: 85%;
    width: 15%;
    background-color: orange;
    display: inline-block;
    float: right;
    position: relative;
    opacity: 0.7;
}
.control-interface {
    position: relative;
    height: 15%;
    width: 100%;
    background-color: #007bff;
    display: inline-block;
    opacity: 0.7;
}
.canvas-wrap {
    /*top: 0;*/
    display: inline-block;
    position: relative;
    width: 70%;
}



.game {
    height: 100%;
    width: 100%;
}
.wrapper {
    height: 100%;
    width: 100%;
}

/*.canvas {*/
    /*background: url("/map.png") no-repeat;*/
/*}*/
