div.info-menu#info-menu
    div.about-region#about-region
div.canvas-wrap
    table
        tr
            td(style="vertical-align: middle")
                canvas(width=width height=height id=id style="display: table-cell; vertical-align: middle;").canvas
div.chat#chat
div.control-interface#control-interface
    div.change
div.timer#timer 30