div.canvas-wrap
    canvas(width=width height=height id=id).canvas
div.log#log
    div.user-data
        div.game-avatar-wrapper
            img.game-avatar(src=avatar)#avatar
        div.user-info
            p.font.size#single-username
            p.font.size#single-rating
    div.game-list
    div.game-timer.font
        div#timer.inner-timer 30
    div.hex-info#about-region
        div.row-info.top-margin
            div.col-info.font Hex type
            div.field.font#type
        div.row-info.row-margin
            div.col-info.font Units
            div.field.font#units
    div.exit-button
        div.exit-button-text EXIT
    div.change
        div.change-text END TURN
