div(style="width:100%; height:1px; clear:both;")
div.info-menu
div.canvas-wrap
    canvas(width=width height=height id=id)
div.chat
div.control-interface
div(style="width:100%; height:1px; clear:both;")
