div.info-menu#info-menu
    div.about-region#about-region
div.canvas-wrap
    canvas(width=width height=height id=id).canvas
div.log#log
div.control-interface#control-interface
    div.change
div.timer#timer 30