section(id="signin")
    h1 Sign In
    form.form.js-signin-group
        input.input(required, type="text", name={login}, id={login}, placeholder="nickname")
        input.input(required, type="password", name={password}, id={password}, placeholder="password")
        input.input(type="submit", class="button button-block btn-in", value="Sign In")
