footer {
    text-align: center;
    width: 100%;
    height: 6%;
    margin-top: 15%;
    position: absolute;
    bottom: 0;
    background-color: black;
    align-content: center;
    opacity: 0.5;
    color: #bbbbbb;
    font-size: larger;
    text-decoration-color: white;
    font-family: "sans-serif";
    display: table;
}

footer div {
    display: table-cell;
    vertical-align: middle;
}