doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title PHub
        link(rel="stylesheet" href="main.css")

    body.body#root
        h1(style="position: absolute; top: 10%; left: 46.2%; color:black; ") LOGO
        script(src="modules/blocks/footer/footerTemplate.js")
        script(src="modules/blocks/menu/menuTemplate.js")
        script(src="modules/blocks/play/playTemplate.js")
        script(src="modules/blocks/modal/modalTemplate.js")
        script(src="modules/blocks/leaderboard/boardTemplate.js")
        script(src="modules/blocks/settings/settingsTemplate.js")
        //script(src="modules/blocks/video/videoTemplate.js")

        script(src="modules/renderTemplates.js")
        script(src="modules/controllers/network.js")
        script(src="modules/controllers/mainController.js")