/* ------------------- footer -----------------*/

#foot
{
    text-align: center;
    width: 100%;
    height: 6%;
    margin-top: 15%;
    position: absolute;
    bottom: 0;
    background-color: black;
    align-content: center;
    opacity: 0.5;
    color: #bbbbbb;
    font-size: larger;
    text-decoration-color: white;
    font-family: "sans-serif";
    vertical-align: middle;
}

#foot p
{
    vertical-align: middle;
    text-align: center;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
}