div.mainModPart#mainModPart
    ul.tab-group
        li.tab.active#signin-li
            a(href="#", data-section="signin") Sign In
        li.tab#signup-li
            a(href="#", data-section="signup") Sign Up
        include ../forms/login/login
        include ../forms/register/register