div.div__avatar-wrapper
    img.avatar(src="https://rha-backend.herokuapp.com/users/gava")#avatar

    table.table__profile
        tr.tr__profile
            td Email:
            td #{user.email}

        tr.tr__profile
            td Rating:
            td #{user.rating}
