div.div__avatar-wrapper
    img.avatar(src="default.jpg")#avatar

    table.table__profile
        tr.tr__profile
            td Email:
            td #{user.email}

        tr.tr__profile
            td Rating:
            td #{user.rating}
