.file-upload {
    position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
    overflow: hidden; /* Все что выходит за пределы - скрываем */
    width: 45%; /* Задаем ширину кнопки выбора файла */
    height: 20px; /* Задаем высоту кнопки выбора файла */
    background: #6da047;
    border-radius: 3px;
    /*padding: 8px 4px;*/
    color: #fff;
    text-align: center;
    display: inline-block;
}
.file-upload:hover {
    background: #7aad55;
}
.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
    /* Растягиваем label на всю возможную площадь блока .file-upload */
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload span {
    line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}

.filename {
    background: #fff;
    border: 0;
}