link(href="../form.css", rel="text/stylesheet")
section(id="signin")
    h1 Sign In
    form.form
        input.input(required, type="text", name="nickname-in", id="nickname-in", placeholder="nickname")
        input.input(required, type="password", name="password-in", id="password-in", placeholder="password")
        input.input(type="submit", class="button button-block btn-in", value="Sign In")
