@media (min-width: 768px) {

    .fullscreen-bg {
        overflow: hidden;
        z-index: -100;
        position: relative;
        height: 100%;
        width: 100%;
        padding-top: 100%;
    }

    .fullscreen-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        height: 60%;
    }

    .overlay {
        background: rgba(0,0,0,0.6);
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

}


@media (max-width: 767px) {
    .fullscreen-bg__video {
        display: none;
    }
}