table.scorboard_table
    thead
        tr
            td Email
            td Score
    tbody
        each fuck in data
            tr.scorboard_row
                td #{fuck.email}
                td #{fuck.score}

