div
    h1 Your personal settings
    form
        label(for="setting_name")
        input#setting_name(type="text" placeholder= {name})
        label(for="setting_email")
        input#setting_email(type="email" placeholder= {email})
        label(for="setting_avatar")
        input#setting_avatar(type="image")