section(id="signup")
    h1 Sign Up
    form.form.js-signup-group
        input.input(required, type="text", name="nickname-up", id="nickname-up", placeholder="nickname")
        input.input(required, type="email", name="email-up", id="email-up", placeholder="email")
        input.input(required, type="password", name="password-up", id="password-up", placeholder="password")
        input.input(required, type="password", name="password-up-repeat", id="password-up-repeat", placeholder="confirm password")
        input.input(type="submit", class="button button-block btn-in", value="Sign In")